*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #101026;
}



section{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: #101026;
   flex-direction: column;
}

h1{
    font-size: 2em;
    color: #f5f5f5;
    margin-bottom: 30px;
}
p{
    color: #f5f5f5;
    margin-bottom: 50px;
}

a{
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
    border: 1px solid transparent;
}

a:hover{
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
}